In [1]:
import pandas as pd;
import numpy as np;

In [4]:
df = pd.read_csv("C:/Users/admin/Desktop/52 DSBDA/student.csv")

In [5]:
df

,math score,reading score,writing score,placement score,club join year,placement offer count
0,60.0,71.0,75.0,89.0,2021,3
1,73.0,85.0,67.0,88.0,2019,3
2,94.0,79.0,NaN,94.0,2020,3
3,77.0,80.0,85.0,83.0,2021,5
4,68.0,81.0,72.0,100.0,2019,3
5,67.0,80.0,89.0,NaN,2021,1
6,77.0,87.0,62.0,96.0,2021,1
7,67.0,NaN,82.0,96.0,2021,3
8,73.0,72.0,67.0,NaN,2019,1
9,66.0,89.0,78.0,95.0,2020,1
10,67.0,70.0,70.0,83.0,2021,4
11,62.0,84.0,80.0,96.0,2021,3
12,77.0,86.0,64.0,96.0,2021,3
13,66.0,NaN,NaN,86.0,2020,3
14,62.0,70.0,78.0,90.0,2020,3
15,72.0,88.0,82.0,100.0,2019,4
16,NaN,75.0,73.0,97.0,2019,3
17,72.0,83.0,76.0,91.0,2019,3
18,64.0,80.0,74.0,95.0,2019,3
19,75.0,90.0,84.0,94.0,2020,3
20,63.0,75.0,60.0,93.0,2019,3
21,65.0,85.0,80.0,86.0,2019,3
22,66.0,82.0,82.0,99.0,2020,3
23,74.0,86.0,62.0,80.0,2019,2
24,77.0,73.0,75.0,89.0,2019,3
25,79.0,74.0,67.0,85.0,2020,3
26,71.0,89.0,60.0,94.0,2021,3
27,80.0,88.0,73.0,93.0,2019,3
28,65.0,79.0,84.0,83.0,2019,2
29,77.0,90.0,78.0,96.0,2020,3

In [7]:
df.isnull()

,math score,reading score,writing score,placement score,club join year,placement offer count
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,True,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,True,False,False
6,False,False,False,False,False,False
7,False,True,False,False,False,False
8,False,False,False,True,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,True,True,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,True,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False

In [8]:
df.notnull()

,math score,reading score,writing score,placement score,club join year,placement offer count
0,True,True,True,True,True,True
1,True,True,True,True,True,True
2,True,True,False,True,True,True
3,True,True,True,True,True,True
4,True,True,True,True,True,True
5,True,True,True,False,True,True
6,True,True,True,True,True,True
7,True,False,True,True,True,True
8,True,True,True,False,True,True
9,True,True,True,True,True,True
10,True,True,True,True,True,True
11,True,True,True,True,True,True
12,True,True,True,True,True,True
13,True,False,False,True,True,True
14,True,True,True,True,True,True
15,True,True,True,True,True,True
16,False,True,True,True,True,True
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True
21,True,True,True,True,True,True
22,True,True,True,True,True,True
23,True,True,True,True,True,True
24,True,True,True,True,True,True
25,True,True,True,True,True,True
26,True,True,True,True,True,True
27,True,True,True,True,True,True
28,True,True,True,True,True,True
29,True,True,True,True,True,True

In [10]:
df.dropna()

,math score,reading score,writing score,placement score,club join year,placement offer count
0,60.0,71.0,75.0,89.0,2021,3
1,73.0,85.0,67.0,88.0,2019,3
3,77.0,80.0,85.0,83.0,2021,5
4,68.0,81.0,72.0,100.0,2019,3
6,77.0,87.0,62.0,96.0,2021,1
9,66.0,89.0,78.0,95.0,2020,1
10,67.0,70.0,70.0,83.0,2021,4
11,62.0,84.0,80.0,96.0,2021,3
12,77.0,86.0,64.0,96.0,2021,3
14,62.0,70.0,78.0,90.0,2020,3
15,72.0,88.0,82.0,100.0,2019,4
17,72.0,83.0,76.0,91.0,2019,3
18,64.0,80.0,74.0,95.0,2019,3
19,75.0,90.0,84.0,94.0,2020,3
20,63.0,75.0,60.0,93.0,2019,3
21,65.0,85.0,80.0,86.0,2019,3
22,66.0,82.0,82.0,99.0,2020,3
23,74.0,86.0,62.0,80.0,2019,2
24,77.0,73.0,75.0,89.0,2019,3
25,79.0,74.0,67.0,85.0,2020,3
26,71.0,89.0,60.0,94.0,2021,3
27,80.0,88.0,73.0,93.0,2019,3
28,65.0,79.0,84.0,83.0,2019,2
29,77.0,90.0,78.0,96.0,2020,3

In [13]:
series1 = pd.notnull(df["math score"])

In [14]:
df[series1]

,math score,reading score,writing score,placement score,club join year,placement offer count
0,60.0,71.0,75.0,89.0,2021,3
1,73.0,85.0,67.0,88.0,2019,3
2,94.0,79.0,NaN,94.0,2020,3
3,77.0,80.0,85.0,83.0,2021,5
4,68.0,81.0,72.0,100.0,2019,3
5,67.0,80.0,89.0,NaN,2021,1
6,77.0,87.0,62.0,96.0,2021,1
7,67.0,NaN,82.0,96.0,2021,3
8,73.0,72.0,67.0,NaN,2019,1
9,66.0,89.0,78.0,95.0,2020,1
10,67.0,70.0,70.0,83.0,2021,4
11,62.0,84.0,80.0,96.0,2021,3
12,77.0,86.0,64.0,96.0,2021,3
13,66.0,NaN,NaN,86.0,2020,3
14,62.0,70.0,78.0,90.0,2020,3
15,72.0,88.0,82.0,100.0,2019,4
17,72.0,83.0,76.0,91.0,2019,3
18,64.0,80.0,74.0,95.0,2019,3
19,75.0,90.0,84.0,94.0,2020,3
20,63.0,75.0,60.0,93.0,2019,3
21,65.0,85.0,80.0,86.0,2019,3
22,66.0,82.0,82.0,99.0,2020,3
23,74.0,86.0,62.0,80.0,2019,2
24,77.0,73.0,75.0,89.0,2019,3
25,79.0,74.0,67.0,85.0,2020,3
26,71.0,89.0,60.0,94.0,2021,3
27,80.0,88.0,73.0,93.0,2019,3
28,65.0,79.0,84.0,83.0,2019,2
29,77.0,90.0,78.0,96.0,2020,3

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['math score'] = le.fit_transform(df['math score'])
newdf=df
df

,math score,reading score,writing score,placement score,club join year,placement offer count
0,0,71.0,75.0,89.0,2021,3
1,10,85.0,67.0,88.0,2019,3
2,16,79.0,NaN,94.0,2020,3
3,13,80.0,85.0,83.0,2021,5
4,7,81.0,72.0,100.0,2019,3
5,6,80.0,89.0,NaN,2021,1
6,13,87.0,62.0,96.0,2021,1
7,6,NaN,82.0,96.0,2021,3
8,10,72.0,67.0,NaN,2019,1
9,5,89.0,78.0,95.0,2020,1
10,6,70.0,70.0,83.0,2021,4
11,1,84.0,80.0,96.0,2021,3
12,13,86.0,64.0,96.0,2021,3
13,5,NaN,NaN,86.0,2020,3
14,1,70.0,78.0,90.0,2020,3
15,9,88.0,82.0,100.0,2019,4
16,17,75.0,73.0,97.0,2019,3
17,9,83.0,76.0,91.0,2019,3
18,3,80.0,74.0,95.0,2019,3
19,12,90.0,84.0,94.0,2020,3
20,2,75.0,60.0,93.0,2019,3
21,4,85.0,80.0,86.0,2019,3
22,5,82.0,82.0,99.0,2020,3
23,11,86.0,62.0,80.0,2019,2
24,13,73.0,75.0,89.0,2019,3
25,14,74.0,67.0,85.0,2020,3
26,8,89.0,60.0,94.0,2021,3
27,15,88.0,73.0,93.0,2019,3
28,4,79.0,84.0,83.0,2019,2
29,13,90.0,78.0,96.0,2020,3

In [21]:
missing_values = ["Na", "na"]
df = pd.read_csv("student.csv", na_values = missing_values)
df

,math score,reading score,writing score,placement score,club join year,placement offer count
0,60.0,71.0,75.0,89.0,2021,3
1,73.0,85.0,67.0,88.0,2019,3
2,94.0,79.0,NaN,94.0,2020,3
3,77.0,80.0,85.0,83.0,2021,5
4,68.0,81.0,72.0,100.0,2019,3
5,67.0,80.0,89.0,NaN,2021,1
6,77.0,87.0,62.0,96.0,2021,1
7,67.0,NaN,82.0,96.0,2021,3
8,73.0,72.0,67.0,NaN,2019,1
9,66.0,89.0,78.0,95.0,2020,1
10,67.0,70.0,70.0,83.0,2021,4
11,62.0,84.0,80.0,96.0,2021,3
12,77.0,86.0,64.0,96.0,2021,3
13,66.0,NaN,NaN,86.0,2020,3
14,62.0,70.0,78.0,90.0,2020,3
15,72.0,88.0,82.0,100.0,2019,4
16,NaN,75.0,73.0,97.0,2019,3
17,72.0,83.0,76.0,91.0,2019,3
18,64.0,80.0,74.0,95.0,2019,3
19,75.0,90.0,84.0,94.0,2020,3
20,63.0,75.0,60.0,93.0,2019,3
21,65.0,85.0,80.0,86.0,2019,3
22,66.0,82.0,82.0,99.0,2020,3
23,74.0,86.0,62.0,80.0,2019,2
24,77.0,73.0,75.0,89.0,2019,3
25,79.0,74.0,67.0,85.0,2020,3
26,71.0,89.0,60.0,94.0,2021,3
27,80.0,88.0,73.0,93.0,2019,3
28,65.0,79.0,84.0,83.0,2019,2
29,77.0,90.0,78.0,96.0,2020,3